.div1{
    width: 1360px;
    height: 40px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(31, 41, 56);
}
#div111{
    width: 500px;
    display: flex;
    justify-content: space-evenly;
}
#div11{
    color: white;
    display: flex;
}
#div12{
    display: flex;
    color: white;
    width: 110px;
}
#div13{
    color: white;
    width: 150px;
}
#div14{
    color: white;
    width: 70px;
}
#div15{
    color: white;
    width: 70px;
}
#div16{
    color: white;
    width: 40px;
}
#div17{
    color: white;
    width:150px;
}
#div18{
    color: white;
    width: 190px;
}

