*{
	margin: 0;
	padding: 0;
	border: border-box;
	font-family: Arial;
}
.border{
	box-shadow: 0px 0px 8px 4px transparent;
}
.border:hover{
	box-shadow: 0px 0px 8px 4px white;
	border-radius: 5px;
}
.main{
	width: 1360px;
	height: 80px;
	position: relative;
	margin: auto;
}
nav{
	width: 1360px;
	height: 80px;
	background-color: rgb(19, 23, 28);
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin: auto;
	position: fixed;
	z-index: 10;
}

/* for amazon logo */

.nav-div1{
	width: 100px;
	height: 50px;
	margin-left: 15px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.nav-div1 img{
	width: 85px;
	height: 50px;
}

/* location wala */

.nav-div2{
	width: 130px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
#location{
	width: 30px;
	height: 40px;
	font-size: 1.5rem;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
#uptext1{
	width: 80px;
	height: 15px;
	font-size: 0.7rem;
}
#uptext2{
	width: 80px;
	height: 20px;
	font-size: 0.9rem;
	font-weight: bold;
}

/* search baar wala */


.nav-div3{
	height: 40px;
	width: 580px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.nav-div3 select{
	width: 50px;
	height: 40px;
	background-color: rgb(240, 240, 240);
	text-align: center;
	color: rgb(19, 23, 28);
	border: none;
}
.nav-div3 input{
	width: 480px;
	height: 40px;
	border: none;
	font-size: 1.1rem;
}
.nav-div3 div{
	height: 40px;
	width: 50px;
	align-items: center;
	border: none;
	display: flex;
	background-color: rgb(254, 165, 0);
	justify-content: center;

}
.nav-div3 div i{
	color: rgb(19, 23, 28);
	font-size: 1.4rem;
}
.nav-div3:hover{
	box-shadow: 0px 0px 8px 4px rgb(254, 165, 0);
}


/* earth country wala */


.nav-div4{
	width: 90px;
	height: 40px;
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	align-items: center;
}
.nav-div4 select{
	width: 40px;
	height: 40px;
	text-align: left;
	border: none;
	font-size: 1rem;
	color: white;
	background-color: rgb(19, 23, 28);
}
.nav-div4 div i{
	color: white;
	width: 30px;
	height: 30px;
	justify-content: center;
	display: flex;
	align-items: center;
	font-size: 1.7rem;
}

/* account or order wala section */


.nav-div5{
	width: 120px;
	height: 40px;
	text-align: center;
}
.nav-div6{
	width: 80px;
	height: 40px;
	text-align: center;
}
.uptext3{
	font-size: 0.7rem;
}
.uptext4{
	font-size: 0.9rem;
	font-weight: 700;
}
.nav-div6:hover{
	box-shadow: 0px 0px 8px 4px white;
}
.nav-div5:hover{
	box-shadow: 0px 0px 8px 4px white;
}

/*  cart wala section */

.nav-div7{
	width: 100px;
	height: 50px;
	display: flex;
	align-items: center;
}
.nav-div7:hover{
	box-shadow: 0px 0px 8px 4px white;
}
.nav-div7 div i{
	font-size: 1.8rem;
}
.nav-div7 div sub{
	font-size: 0.89rem;
}