h1{
    color: yellow;
    text-align: center;
}
h1 span{
    color: green;
}
h2{
    font-weight: 700;
    color: grey;
}
p{
    font-size: 1.4em;
}
body{
    background-color: black;
}
.contentSection{
    background-color: white;
    text-align: center;
}
.cs-row{
    justify-content: center;
}